
		<div id="container" class="container">

			<div class="menu-panel">
				<h3>Activity</h3>
				<ul id="menu-toc" class="menu-toc">
					<li class="menu-toc-current"><a href="#item1">What is OkiColophon</a></li>
					<!--<li><a href="#item2">Why we die</a></li>
					<li><a href="#item3">The honeymoon</a></li>
					<li><a href="#item4">A drawing joke</a></li>
					<li><a href="#item5">Commencing practice</a></li>-->
				</ul>
				<div>
					<a href="http://nanophate.com/">&larr; Back to nanophate</a>
					<a href="http://gplus.to/okicolophon">Go to Community</a>
				</div>
			</div>

			<div class="bb-custom-wrapper">
				<div id="bb-bookblock" class="bb-bookblock">
					<div class="bb-item" id="item1">
							<div id="quetioin-area" class="jumbotron">
								<h2>＊　質問！　＊</h2>
								<h3><%= @question %></h3>
							</div>
							<div id="karuta-list">
								<center>
								<table>
									<% answer_list = [ @answer, '甘酸っぱい', 'おおむね赤', 'なつみかん', 'かなり酸っぱいと思う', 'たいてい黄色' ] %>
									<% answer_detail_list = [ @answer_detail, 'え？', 'え？', 'え？', 'え？', 'え？'] %>
									<% img_list = %w{ wrong.png flip.png hi.png mello.png run.png sleep.png } %>
									<% answer_list.each_with_index do |answer,i| %>
										<% if i == 3 %>
										<tr>
										<% end %>
										<td>
											<div class="karuta"><h3><%= answer %><%= image_tag(img_list[i]) %></h3></div>
											<div class="karutaData"><p><%= answer_detail_list[i] %><%= image_tag(img_list[0]) %></p></div>
										</td>
									<% end %>
								</table>
								</center>
							</div>
					  </div>

					<div class="bb-item" id="item2">
						<div id="quetioin-area" class="jumbotron">
							<h2>＊　質問！　＊</h2>
							<h3><%= @question %></h3>
						</div>
						<div id="karuta-list">
							<center>
							<table>
								<% answer_list = [ @answer, '甘酸っぱい', 'おおむね赤', 'なつみかん', 'かなり酸っぱいと思う', 'たいてい黄色' ] %>
								<% answer_detail_list = [ @answer_detail, 'え？', 'え？', 'え？', 'え？', 'え？'] %>
								<% img_list = %w{ wrong.png flip.png hi.png mello.png run.png sleep.png } %>
								<% answer_list.each_with_index do |answer,i| %>
									<% if i == 3 %>
									<tr>
									<% end %>
									<td>
										<div class="karuta"><h3><%= answer %><%= image_tag(img_list[i]) %></h3></div>
										<div class="karutaData"><p><%= answer_detail_list[i] %><%= image_tag(img_list[0]) %></p></div>
									</td>
								<% end %>
							</table>
							</center>
						</div>
				</div>
					<div class="bb-item" id="item3">
						<div id="quetioin-area" class="jumbotron">
							<h2>＊　質問！　＊</h2>
							<h3><%= @question %></h3>
						</div>
						<div id="karuta-list">
							<center>
							<table>
								<% answer_list = [ @answer, '甘酸っぱい', 'おおむね赤', 'なつみかん', 'かなり酸っぱいと思う', 'たいてい黄色' ] %>
								<% answer_detail_list = [ @answer_detail, 'え？', 'え？', 'え？', 'え？', 'え？'] %>
								<% img_list = %w{ wrong.png flip.png hi.png mello.png run.png sleep.png } %>
								<% answer_list.each_with_index do |answer,i| %>
									<% if i == 3 %>
									<tr>
									<% end %>
									<td>
										<div class="karuta"><h3><%= answer %><%= image_tag(img_list[i]) %></h3></div>
										<div class="karutaData"><p><%= answer_detail_list[i] %><%= image_tag(img_list[0]) %></p></div>
									</td>
								<% end %>
							</table>
							</center>
						</div>
				</div>
				<div class="bb-item" id="item4">
					<div id="quetioin-area" class="jumbotron">
						<h2>＊　質問！　＊</h2>
						<h3><%= @question %></h3>
					</div>
					<div id="karuta-list">
						<center>
						<table>
							<% answer_list = [ @answer, '甘酸っぱい', 'おおむね赤', 'なつみかん', 'かなり酸っぱいと思う', 'たいてい黄色' ] %>
							<% answer_detail_list = [ @answer_detail, 'え？', 'え？', 'え？', 'え？', 'え？'] %>
							<% img_list = %w{ wrong.png flip.png hi.png mello.png run.png sleep.png } %>
							<% answer_list.each_with_index do |answer,i| %>
								<% if i == 3 %>
								<tr>
								<% end %>
								<td>
									<div class="karuta"><h3><%= answer %><%= image_tag(img_list[i]) %></h3></div>
									<div class="karutaData"><p><%= answer_detail_list[i] %><%= image_tag(img_list[0]) %></p></div>
								</td>
							<% end %>
						</table>
						</center>
					</div>
				</div>
				<nav>
					<span id="bb-nav-prev">&larr;</span>
					<span id="bb-nav-next">&rarr;</span>
				</nav>

				<span id="tblcontents" class="menu-button">Activity</span>

			</div>

		<script>
			$(function() {

				Page.init();

			});
		</script>
