  <div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>ちーたんかるた</h1>
      <p class="lead">僕と一緒に発掘しようよ</p>
      <p class="lead">〜モードを選んでね〜</p>
    </div>

    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-4 col-md-offset-1 select-top">
        <img src ="assets/fight.jpg">
        <p>バトル</p>
      </div>
      <div class="col-md-offset-2 col-md-4 select-top">
        <%= link_to image_tag('dig.jpg'), '/karuta/index.hmtl' %>
        <p>ストーリー</p>
      </div>
    </div>
    <div id='chi-tan'>
      <a href="http://www.city.tamba.hyogo.jp/site/chi-tan/" target="_blank"><%= image_tag('top.png') %></a>
    </div>
  </div>
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
    <% end %>
    <div class="alert alert-info fade in">
      <%= notice %>
  </div>
