<h3>Users</h3>
<p>Profile Name: <%= @user.name if @user.name %></p>
<p>Profile Picture: <%= @user.image if @user.image %></p>
<p>Profile Info: <%= @user.description if @user.description %></p>
<p>Profile Website: <%= @user.Website if @user.Website %></p>
<%= link_to "Edit", edit_user_url %>
