<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/jquery-ui-1.11.1.js"></script>
  <script src="js/jquery.flip.min.js"></script>
  <script src="js/karuta.js"></script>
  <script type="text/javascript" src="js/jquery.pjax.js"></script>
</head>
<body>
  <div class="header">
  <%= image_tag("search.gif") %>
  <h1>ちーたんかるた</h1>
  </div>
  <div id="question-karuta">
  <center>
    <% answer_num = rand(9) + 1 %>
    <div id="quetioin-area">
      <%= @question[answer_num] %>
    </div>
  </center>

    <div id="quetioin-area" class="jumbotron">
      <h2>＊　質問！　＊</h2>
      <h3><%= @question %></h3>
    </div>
  <div id="karuta-list">
    <center>
    <div id="result"></div>
      <table>
      <% answer_list = [ @answer[answer_num], @answer[1], @answer[2], @answer[3], @answer[4], @answer[5] ] %>
      <% answer_detail_list = [ @answer_detail[0], 'え？', 'え？', 'え？', 'え？', 'え？'] %>
      <% img_list = %w{ wrong.png flip.png hi.png mello.png run.png sleep.png } %>
      <% answer_list.each_with_index do |answer,i| %>
        <% if i == 3 %>
        <tr>
        <% end %>
        <td>
          <div class="karuta"><h3><%= answer %><%= image_tag(img_list[i]) %></h3></div>
          <div class="karutaData"><p><%= answer_detail_list[i] %><%= image_tag(img_list[0]) %></p></div>
        </td>
      <% end %>
    </table>
    </center>
  </div>
  </div>
  <span></span>
</body>
